In [81]:
!python3 -m table_ocr.pdf_to_images ./ifrs_gazprom/BH3.pdf

./ifrs_gazprom/BH3.pdf
./ifrs_gazprom/BH3-000.png
./ifrs_gazprom/BH3-001.png
./ifrs_gazprom/BH3-002.png
./ifrs_gazprom/BH3-003.png
./ifrs_gazprom/BH3-004.png
./ifrs_gazprom/BH3-005.png
./ifrs_gazprom/BH3-006.png

In [1]:
import table_ocr.demo
from pdf2image import convert_from_path

In [2]:
import cv2

In [6]:
images = convert_from_path("ifrs_gazprom/BH.pdf")

In [10]:
image = cv2.cvtColor(images[0], cv2.COLOR_BGR2GRAY)

error: OpenCV(4.8.0) :-1: error: (-5:Bad argument) in function 'cvtColor'
> Overload resolution failed:
>  - src is not a numpy array, neither a scalar
>  - Expected Ptr<cv::UMat> for argument 'src'

In [31]:
import re

In [83]:
def row_cleaner(row):
    res = re.findall("\,{0,1}\ {0,1}([0-9]{2,5}\ {0,1}\,.*)", row)
    if res:
        return res[0]
    else:
        return ""
    
def csv_cleaner(text):
    spis = text.split("\r\n")
    clean_spis = [row_cleaner(x) for x in spis]
    res = [i.split(',') for i in clean_spis if i]
    return res

def int_converter(res):

    for i in range(len(res)):
        for j in range(len(res[i])): 
            res[i][j] = res[i][j].replace(" ", "")
            res[i][j] = res[i][j].replace("-", "")
            if all(char in res[i][j] for char in ["(", ")"]):
                res[i][j] = res[i][j].replace("(", "")
                res[i][j] = res[i][j].replace(")", "")
                res[i][j] = "-" + res[i][j]
            res[i][j] = re.sub(r'[^0-9\-]', '', res[i][j])
            if res[i][j]:
                res[i][j] = int(res[i][j])

    return res

In [59]:
"dld dlld ld d;   ".replace(" ", "")

'dlddlldldd;'

In [99]:
tabl = table_ocr.demo.image_to_csv("ifrs_gazprom/BH3-000.png")

Running `extract_tables.main([ifrs_gazprom/BH3-000.png]).`
Extracted the following tables from the image:
[('ifrs_gazprom/BH3-000.png', ['ifrs_gazprom/BH3-000/table-000.png'])]
Processing tables for ifrs_gazprom/BH3-000.png.
Processing table ifrs_gazprom/BH3-000/table-000.png.
Extracted 36 cells from ifrs_gazprom/BH3-000/table-000.png
Cells:
ifrs_gazprom/BH3-000/cells/000-000.png: і ' АКТИВ
ifrs_gazprom/BH3-000/cells/000-001.png: " ;;Ё]Ёа `
ifrs_gazprom/BH3-000/cells/000-002.png:
...

In [100]:
tabl

'і \' АКТИВ,""" ;;Ё]Ёа `",,\r\n,2,К,\r\nі ‚„материарьные аКТИВі!ВНЕС?БОРОТНЬ\'Е ВЕ,110,110 365,119 278\r\n"Ё\\Д::::::Ё:ЁЁ;ВТ:ОИТЭПЬОТВО 7 „—, : ййі — й——_——‘",120,3 239 256,2 984 076\r\n130,725 889,1 924 579\r\n‚ЬОЁЁ::;Ё::;Ж:›::Ёнвс::;ірвт:›і::гяЦЁННОС…,135,28 104,1 207\r\n140,497 148 425,693 032 289\r\n145,497 100,09 355\r\n150,254 431,358 630\r\n151,66 678} 25 965\r\n190,57(?2 003 570[ 699 129 414\r\n'

In [94]:
# tabl = table_ocr.demo.image_to_csv("ifrs_gazprom/BH3-001.png")
df = pd.DataFrame(int_converter(csv_cleaner(tabl)))
df

       0          1          2
0    910     674845    1175619
1    911
2    915
3    920
4    930    8619982     918199
5    940     425955     453513
6    950    1794718    1272366
7    960  270721619  178732348
8    970         66          3
9    980
10   990     235744     904538
11  1000
12  1100         27          2
13  1200

In [85]:
csv_cleaner(tabl)

[['110', '110 365', '119 278'],
 ['120', '3 239 256', '2 984 076'],
 ['130', '725 889', '1 924 579'],
 ['135', '28 104', '1 207'],
 ['140', '497 148 425', '693 032 289'],
 ['145', '497 100', '09 355'],
 ['150', '254 431', '358 630'],
 ['151', '66 678} 25 965'],
 ['190', '57(?2 003 570[ 699 129 414']]

In [57]:
tabl.split("\r\n")

['Пояснения,н::і:оваиие,код,За январь - март 2012 г,За январь - март 2011 г',
 ',2,,',
 'Доходы от участия в других организациях,2310,67 313 666,26 121 114',
 'Проценты к получению,2320,9139 961,6 997 262',
 'Зроценты к уплате.,2330,( 6433 803 ),( 4 287 163 )',
 'Прочие доходь,2340,1865 587,432 807',
 'Прочие расходы,2350,(39 725 759 ),( 17 578 926 )',
 'Прибыль (убыток) до налогообложения,2300,34 466 530,13 621 721',
 'Текущий налог на прибыль,2410,6 263 702,',
 'в том числе постоянные налоговые обязательства (активь,2421,222 497,147 351',
 'Изменения отложенных налоговых обязательств.,2430,(2527 ),( 20 011 )',
 'Изменения отложенных налоговых активов,2450,85 756,2372 538',
 ',Прочее.,2460,,',
 "жгз:ж:::':жвиа прибыль внутри консолидированной,2465,(6 357 108 ),",
 'Чистая прибыль (убыток),2400,34 456 353,15 974 248',
 ',2510,,-',
 '"ЁЁЁЁЩ :рти.;::‹и›‹ операций, не включаемый в чистую прибыль:",2520,-,',
 'Совокупный финансовый результат периода,2500,34 456 353,15 974 248',
 'зазовая поибыль (М!,2900,,',
 'Разводненная прибыль (убыток) на акцию,2910,,',
 '']